
.get-us{
      margin-top: 30px;
      margin-left: 43%;
      margin-bottom: 20px;
      width: 60%;
    }

    .contact{
      margin-top: 20px;
      padding-left:45%;
      margin-bottom:100px;
      width: 55%;
      height: 50%;

    } 

    .footer{
      
      width: 100%;
      
      text-align: center;
      background-color: black;
      padding: 20px 0;
      color: white;


    }

    .socialmedia { 
      width:30px;
      border-radius: 50%;

    }  
    .footer a{
      border: transparent 0 ;
      background: transparent;

      
    } 
    .social{
      margin-left: 40%;
      height: 60px;
    }