
      body{
        height: auto;
        width:100%;
        background-color: black;
      }
   
 

      /* navbar styling */
  

  
    
    

	button{
    background-color: black;
    color: white;
    border: solid;
    border-color:red;
    font-size: 15px;
    border-radius: 30px;
    margin-bottom: 2%;
  }

      /* slideshow styling */
      #slideshow-container {
        position: relative;
        width: 100%;
        height: 400px;
        
        margin-top: 2%;
        background-color: #fff;

      }

      .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 400px;
        margin-left:20% ;
      }
