
body {
	background-color: white;
	font-family: Arial, sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap : wrap;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.25em 0;
}

.search input[type="text"] {
	width: 18.75em;
	padding: 0.625em;
	border: none;
	border-radius: 0.3125em 0 0 0.3125em;
}

.search button {
	padding: 0.625em;
	background-color: #333;
	
	border: none;
	border-radius: 0 0.3125em 0.3125em 0;
	cursor: pointer;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-item {
	width: 22%;
	margin-bottom: 1.5em;
	overflow: hidden;
	transition: all 0.3s ease;
}

.product-item:hover {
	background-color: #f8f8f8;
	transform: scale(1.05);
	border: none;
}

.product-image {
	width: 100%;
	height: 50%;
	border: 0.0625em solid #ccc;
	border-radius: 0.3125em;
	overflow: hidden;
}

.product-image img {
	width: 100%;
	border: 0.0625em solid #ccc;
	border-radius: 0.3125em;
	overflow: hidden;
}

.product-info {
	padding: 1.25em;
	background-color: #f5f5f5;
}

.product-title {
	font-size: 1.125em;
	margin-bottom: 0.625em;
}

.product-price {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1.25em;
}

.btn-add-to-cart {
	display: block;
	width: 100%;
	padding: 0.625em;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 0.3125em;
	cursor: pointer;
}