body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
}

.main {
	height: 100%;
	width: 40%;
	margin: 0 30%;
}

.register-lines h1 {
	text-align: center;
}

.register-lines p {
	text-align: center;
	margin: 0;
	padding: 0;
}

.userInput {
	margin-top: 2rem;
}

.textInput input {
	height: 4vh;
	width: 50%;
	margin: 1rem 25%;
	border-radius: 3px;
}

#showPass {
	height: 4vh;
	width: 50%;
	margin: 1rem 25%;
	border-radius: 3px;
}

.sCheck {
	margin: 0 2% 0 25%;
}

.dateInput input {
	height: 4vh;
	width: 50%;
	margin: 1rem 25%;
	border-radius: 3px;
}

.genderInput {
	margin-top: 1rem;
}

.genderInput input {
	border: none;
	margin: 0 2% 0 25%;
}

.imageInput {
	margin: 2rem 0 0 0;
	display: flex;
}

.imageInput label {
	margin: 0 3% 0 25%;
}

.upload input {
	height: 4vh;
	width: 50%;
	margin: 2rem 25%;
	border-radius: 3px;
	background-color: black;
	color: white;
}

.upload p {
	margin-top: 0;
	text-align: center;
}